h1
{
text-align: center;
color:blue;
}

p
{
text-align: center;
color:teal;
}

div
{
height:100%;
width:auto;
background-color:none;
color:black;
font-size:17px;
-webkit-transition: width 0.5s, height 0.5s, font-size 0.30s;
transition: width 0.5s, height 0.5s ,font-size 0.30s;
}

div:hover {
    width: 125px;
    height: 30px;
    font-size:18px;
	
}

a
{
text-decoration:none;
color:black;
}

#details {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#details td, #details th {
    border: 1px solid #ddd;
    padding: 8px;
}

#details tr:nth-child(even){background-color: #f2f2f2;}

#details tr:hover {background-color: #ddd;}

#details th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
